body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.day {
    background-color: #f0f0f0;
    color: white;
}

.night {
    background-color: #2a2a2a;
    color: #fff;
}
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #555;
}

.split-screen {
    display: flex;
    height: calc(100vh - 70px);
}

.left-side,
.right-side {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}
.curved-box {
    flex: 1;
    background-color: #666662;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.gray-box {
    flex: 1;
    background-color: #777;
    color: white;
    border-radius: 15px; 
    padding: 15px;
    overflow-y: auto;
}


.scrollable-box {
    flex: 1;
    overflow-y: auto;
    border-radius: 10px;
    border: none;
    padding: 10px;
    resize: none;
}

.export-container {
    margin-top: auto; 
    display: flex;
    justify-content: center; 
    padding-bottom: 20px; 
}


.dark-mode-toggle {
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid currentColor;
    background: none;
    color: inherit;
}
   
